 
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");



// Variables
@import "variables";

//font-awesome
@import "node_modules/font-awesome/scss/font-awesome";

//Bulma
@import "node_modules/bulma/bulma";

//Bulma Vue Modules
@import "node_modules/buefy/src/scss/buefy";


// Bootstrap
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
